/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#mainContainer {
	border: 1px solid black;
	left:200px;
	top:200px;
	width : 800px;
	height : 600px;
	position : absolute;	 
}

#homeContainer{
	left:200px;
	top:200px;
	border: 1px dashed red;
	width : 400px;
	height : 300px;
	position: absolute;
} 